@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .konten-list ul,
    .konten-list ol,
    .konten-list menu {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    .konten-list h1,
    .konten-list h2,
    .konten-list h3,
    .konten-list h4,
    .konten-list h5,
    .konten-list h6 {
        font-size: revert;
        font-weight: revert;
    }

    input {
        --tw-ring-shadow: none !important;
        box-shadow: none !important;
    }
}

.hero-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.hover-link {
    position: relative;
    text-decoration: none;
}

.hover-link:hover::before {
    transform: scaleX(1);
}

.burger {
    position: relative;
    width: 30px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 21.5px;
    left: 5px;
}

.rotate-hover:hover .rotate {
    transform: rotate(180deg);
}

.maps iframe {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

.konten-card *,
.konten-card {
    font-size: 12px !important;
}

.thumbnail:not(a.thumbnail:hover) {
    transition: all 0.3s ease-in-out;
}

a:hover.thumbnail .thumbnail {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.splide__pagination__page.is-active {
    background-color: #1a274d !important;
}

.splide__arrow--prev {
    left: -1em !important;
}
.splide__arrow--next {
    right: -1em !important;
}

@media screen and (min-width: 1000px) {
    .splide__arrow--prev {
        left: -1.5em !important;
    }
    .splide__arrow--next {
        right: -1.5em !important;
    }
    .splide__arrow {
        width: 2.8rem !important;
        height: 2.8rem !important;
    }
}

.splide__arrow svg {
    fill: white !important;
}

div.galeri ul.splide__list {
    justify-content: start !important;
}
div.ekskul_mobile ul.splide__list {
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    div.galeri ul.splide__list {
        justify-content: center !important;
    }
    div.ekskul_tablet ul.splide__list li.splide__slide {
        width: max-content !important;
    }
}
@media only screen and (min-width: 1280px) {
    div.ekskul ul.splide__list li.splide__slide {
        width: max-content !important;
    }
}

.splide__arrow:disabled {
    opacity: 0.7 !important;
    cursor: not-allowed;
}

.w3xl {
    @media (min-width: 1900px) {
        grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
    }
}

.card-pegawai {
    height: 285px;
    @media (min-width: 330px) {
        height: 200px;
    }
}

.card-pegawai-carousel {
    height: 245px;
    @media (min-width: 330px) {
        height: 240px;
    }
}

.card-pegawai-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media (min-width: 330px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
